@model IEnumerable<BookCompanyManagement.Models.PaperBrand>

@{
    Layout = null;
}

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.PaperBrandName)
        </th>
        <th>
            纸张及规格
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.PaperBrandName)
            </td>
            <td>
                @{
                    Html.RenderAction("_PartialPagePaperofBrand", "Papers", new { id = item.PaperBrandId });
                }
            </td>
        </tr>
    }

</table>
